<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/rijieli/OllamaChat/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Fhw1TKql3q4SU7dEQGD1O4LMh1GEfl3jH8Dp5OvngXI=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
